body{

    background: linear-gradient(to bottom, rgb(255, 218, 224) 0%, rgb(238, 154, 168) 80%);
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    
}

.navigation {
    background-color: rgba(245, 228, 231, 0.6);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 7%;
    width: 100%;
    gap: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation a{
    align-self: center;
    padding-right: 5%;
}

.navigation img{
    padding-right: 3%;
}

.section{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    bottom: 35%;
    left: 10%;
    width: 30%;
    height: 40%;
    background-color: rgb(252, 157, 172);
    gap: 5%;
    border-radius: 10%;
    text-align: center;
    border-color: rgb(255, 218, 224);
    border-width: 4px;
}

.section h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    padding-top: 5%;
    color: rgb(245, 229, 229);
    text-shadow: 1px 1px 1px rgb(24, 12, 12);
}

.buttons {
    padding-bottom: 15%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}

.buttons button{
    width: 25%;
    height: 200%;
    border-radius: 10%;
    border-color: rgb(249, 135, 135);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    border-width: 3px;
}

.gallery{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-shadow: 1px 1px 1px rgb(245, 229, 229);
    background-color: rgb(249, 135, 135);
}

.gallery:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 182, 182);
}

.order:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 182, 182);
}

.cloud{
    width: 20%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 60%;
}