body{

    background: linear-gradient(to bottom, rgb(255, 218, 224) 0%, rgb(238, 154, 168) 80%);
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    
}

.bear{
    width: 25%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 60%;
}


.navigation {
    background-color: rgba(245, 228, 231, 0.6);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 7%;
    width: 100%;
    gap: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation button{
    align-self: center;
    padding-right: 10%;
    width: 10%;
    height: 70%;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    border-width: 3px;
    border-style: solid;
    border-color: papayawhip;
    
}

.logo {
    display: flex;
    padding-left: 3%;
    width: 55px;
    height: auto;
    border-radius: 50%;
    margin-right: auto;
}

.section{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    bottom: 25%;
    left: 10%;
    width: 30%;
    height: 40%;
    background-color: rgba(252, 157, 172, 0.3);
    gap: 3%;
    border-radius: 10%;
    text-align: center;
    border-color: papayawhip;
    border-width: 4px;
    border-style: solid;
}

.section h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    padding-top: 5%;
    color: rgb(245, 229, 229);
    text-shadow: 1px 1px 1px rgb(24, 12, 12);
}
.section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    color: rgb(245, 229, 229);
}


.buttons {
    padding-bottom: 15%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}

.buttons button{
    width: 25%;
    height: 200%;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    border-width: 3px;
    border-style: solid;
    border-color: papayawhip;
}

.gallery{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: rgb(249, 135, 135);
}

.gallery:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 182, 182);
}

.order:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 182, 182);
}

.cloud{
    width: 25%;
    height: auto;
    position: absolute;
    top: 4%;
    left: 1%;
}